body{
    background-image: linear-gradient(
        rgb(59,88,93),
        rgb(29,40,42)
        );
    height: 100vh;
    color: white;
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
}
h5{
    text-align: center;
}
#below-cover{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icons-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button{
    font-size: 1.5em;
}

.button-navigate{
    font-size: 2em;
}

.button-biggest{
    font-size: 3em;
}